/* cú pháp reset css mặc định và tự động scale content trong box model */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

/* .demo__padding {
  width: 20px;
  padding: 5px;
  background: red;
  border: 5px solid gray;
}
.demo__margin {
  margin: 5px;
  background: green;
  border: 5px solid gray;
  position: relative;
  top: 10px;
  left: 10px;
} */
.absolute_testing {
  position: fixed;
  top: 20px;
  left: 20px;
}
@media only screen and (max-width: 600px) {
  html {
    background-color: red;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  html {
    background-color: blue;
  }
}
